# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Test results
TestResults/
[Tt]est[Rr]esult*/

# Visual Studio / Rider user-specific files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Rider
*.sln.iml

# OS files
.DS_Store
Thumbs.db
